.banner {
  width: 100%;
  height: auto;
}

.lineskip-one {
  margin: 0 0 11vw 0;
}

.lineskip-two {
  margin: 0 0 10vw 0;
}

.year {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 10vw;
  margin: 4vw 4vw 4vw 4vw;
  padding: 0 0 0 1.3vw;
}

.footer {
  font-weight: normal;
  font-size: 3vw;
  text-align: justify;
  margin: 2vw 2vw 2vw 2vw;
}